.root {
  height: 100vh;
  background-image: url("../../background.jpg");
  background-position: 40% 5%;
}

.paper {
  width: 75%;
  margin-inline: auto;
  margin-block: 5%;
  padding-top: 5px;
}

.pageTitle {
  padding-inline-start: 10px;
}

.children {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 382px); */
  justify-content: space-between;
}

@media screen and (max-width: 1081px) {
  .paper {
    width: 100%;
    margin: auto auto;
  }
}
