.root {
  display: flex;
  justify-content: space-between;
}

.videoContainer video {
  width: 500px;
  height: 350px;
  background-image: url("https://matplotlib.org/stable/_images/sphx_glr_cohere_001_2_0x.png");
  background-size: cover;
}
