.loadingFragment {
  flex-direction: row;
  justify-content: center;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  /* height: 350px; */
  border: 2px solid whitesmoke;
  margin: 5px;
}

.plotVideo {
  width: 100%;
}
