.loadingFragment {
  flex-direction: row;
  align-self: center;
  margin: auto auto;
}

.videoContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 5px;
}

.plotVideo:hover {
  border: 2px solid #1976d2;
}

.plotVideo {
  width: calc(100% - 58px);
  border: 2px solid whitesmoke;
}

@media screen and (orientation: portrait) {
  .loadingFragment {
    width: 100%;
  }

  .videoContainer {
    flex-direction: column;
    width: calc(100% - 10px);
    order: -1;
  }

  .plotVideo {
    width: 100%;
  }
}
