.loadingFragment {
  flex-direction: row;
  justify-content: center;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 5px;
}

.plotVideo:hover {
  border: 2px solid #1976d2
}

.plotVideo {
  width: 100%;
  border: 2px solid whitesmoke;
}
