.root {
  /* max-height: calc(100% - 56px); */
  max-width: 100%;
  padding: 0 10px;
}

.list {
  height: 100%;
  overflow-y: auto;
}

.genericListItem {
  max-width: 100px;
}

.feedbackDetails {
  max-width: 100%;
}

.feedbackDate {
  max-width: 200px;
}

.skeleton {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listItem {
  width: calc(100% - 50px);
}
