.root {
  max-width: 100%;
  min-height: 320px;
  padding: 0 10px;
}

.list {
  height: 100%;
  overflow-y: auto;
}

.genericListItem {
  max-width: 100px;
}

.demoTitle {
  max-width: 250px;
}

.feedbackDetails {
  width: 200px;
}

.feedbackDate {
  max-width: 150px;
}

.skeleton {
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
